.pageChange-enter, .pageChange-leave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.pageChange-enter {
  opacity: 0;
}
.pageChange-enter.pageChange-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.pageChange-leave {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
.pageChange-leave.pageChange-leave-active {
  opacity: 0;
}

.bigtada {
  -webkit-animation-name: bigtada;
  animation-name: bigtada;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@keyframes bigtada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.grayscale {
  transition: 1s;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}