.content .in-progress {
  list-style-type: circle;
}
.cv, .intro {
  opacity: 0;
}
.profile {
  opacity: 0;
  width: 150px;
  position: absolute;
  top: 20px;
  right: 50%;
  margin-right: -75px;
}
.profile.profile-end {
	opacity: 0.8;
}
.header-info {
	padding-left: 37px;
  position: relative;
}
.header-contact {
  opacity: 0;
  position: absolute;
  top: 45px;
  right: 45px;
  text-align: center;
  width: 300px;
}
.header-contact--inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.header-contact a, .header-contact span {
  cursor: pointer;
  flex: 1;
  flex-basis: 30%;
  padding: 10px 0;
}
.header-contact .fa {
  font-size: 32px;
  color: #424242;
  &:hover {
  	color: rgba(20,150,187,1);
	}
}

.current {
	text-align: center;
	& > div {
		position: relative;
	}
	img {
		max-width: 100%;
	}
	.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
    opacity: 0;
    transition: 1s;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
	}
	.caption > div > * {
		margin: 10px;
	}
	&:hover .caption {
		opacity: 1;
	}
}
.project {
	overflow: hidden;
	height: 200px;
	text-align: center;
}
.project:hover {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.project img {
	height: 200px;
}