$phone: 550px;
$tablet: 750px;
$desktop: 1000px;
$yellow: #d6d61a;
$grey: #eee;
$dark: rgba(black,0.8);

html, body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  @media screen and (max-width: $phone){
    word-wrap: break-word;    
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
}

.center {
  text-align: center;
}

h1 {
  @media screen and (min-width: $desktop) {
    font-size: 5rem;
  }
}

h2 {
  margin: 2rem 0;
  font-size: 3.2rem;
  font-family: 'Montserrat', sans-serif;
  color: rgba(black,0.8);

  @media screen and (max-width: $phone){
    margin: 1.4rem 0;
    font-size: 2.1rem;
  }
}

h3 {
  margin: 1.4rem 0;
  font-size: 2.1rem;
  font-family: 'Montserrat', sans-serif;
  color: rgba(black,0.8);

  @media screen and (max-width: $phone){
    margin: 1rem 0;
    font-size: 1.5rem;
  }
}

h4 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.button {
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 50px;
  &:hover {
    border-color: $yellow;
  }
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grey {
  background-color: $grey;
}

.row {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }

  .col {
    flex: 1;
    padding: 20px;

    @media screen and (max-width: $phone) {
      flex-direction: column;
    }
  }

  .left {
    width: 50%;
  }
}

.hero {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-color: #252a30;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &:before, &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &:before {
    display: block;
    top: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
  }

  .more {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    a {
      color: #fff;
    }
  }
}

.hero-content {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;

  padding: 20px;

  a {
    text-decoration: none;
    color: #fff;
  }

  .button {
    width: 35%;
    margin: 5rem auto 0;
    padding: 1.4rem 3.2rem;
    font-size: 1.4rem;
    background-image: linear-gradient(90deg, rgba(49,61,65,0.8), rgba(49,61,65,0.8));
    @media screen and (max-width: $phone){
      width: 60%;
    }
  }

  .icon-container {
    margin: 5rem 0 0;
    height: 64px;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  a {
    display: block;
    width: 100px;
    color: #fff;
    transition: all 0.5s;
    &:hover {
      color: #d6d61a;
    }
    @media screen and (max-width: $phone){
      width: auto;
      flex: 1;
      i {
        font-size: 2em;
      }
    }
  }
}

section {

  color: $dark;
  padding: 2em 0;

  .container {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;

    @media (min-width: $tablet) {
      width: 80%;
    }

    @media (min-width: $phone) {
      padding: 0;
    }
  }  

  i {
    color: #4A6FA5;
  }

}

@media screen and (min-width: $phone) {
  .hero {
    background-image: url('../images/business-min.jpg');
  }
}

.project {
  padding: 2em 0;
  @media screen and (max-width: $phone) {
    padding: 0;
  }
  display: flex;

  .text, .image {
    flex: 1;
    @media screen and (max-width: $phone) {
      margin-bottom: 1em;
    }
  }

  img {
    max-height: 300px;
  }

  .image {
    margin: 0 2em;
    text-align: center;

    @media screen and (max-width: $phone) {
      margin: 0 1em 1em;
    }
  }
  
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }

  &.image-first {
    flex-direction: column-reverse;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }
}

.project.first {
  border-top: 0;
}

.project+.project {
  border-top: 0;
}

.project:last-child {
  border-bottom: 0;
}

#work {
  p {
    color: rgba(black, 0.6);
  }

  .project.first {
    border-top: 0;
  }

  .project+.project {
    border-top: 0;
  }

  .project:last-child {
    border-bottom: 0;
  }

  .testimonial {
    padding: 1.5em 0;
    text-align: center;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    
    .container {
      margin: 0 auto;
      @media screen and (min-width: $tablet) {
        width: 80%;
      }
  
      @media screen and (min-width: $desktop) {
        width: 50%;
      }
    }
  }

  .button {
    border-color: rgba(black, 0.2);
    color: rgba(black, 0.8);
    font-weight: 700;
    font-size: 0.8rem;
    padding: 0.8em 2em;
    &:hover {
      border-color: $yellow;
    }
  }

}

#contact {
  background-color: $yellow;
}

footer {
  background-color: #252a30;
  color: #eee;
  padding: 2em;
}

.modal-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  position: fixed;
  background-color: rgba(216, 216, 216, 0.85);
  z-index: 10;
  align-items: center;
  justify-content: center;

  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(37, 41, 52);
    color: #eee;

    @media screen and (min-width: $phone) {
      width: 100px;
      height: 100px;
      transition: all .5s ease-in-out;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
    }

    .modal-container {
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease-in-out .5s;
      opacity: 0;
    }

  }

  .close-container {
    position: absolute;
    right: 20px;
    top: 20px;
    a {
      color: #eee;
      &:hover {
        color: $yellow;
      }
    }
  }

  .button {
    background-color: transparent;
    color: #eee;
    &:hover {
      color: $yellow;
    }
  }
}

.modal-active {
  overflow: hidden;

  .modal-overlay {
    display: flex;
  }

  .modal {
    width: 100%;
    height: 100%;
    @media screen and (min-width: $phone) {
      width: 80%;
      height: 80%;
    }
    .modal-container {
      opacity: 1;
    }
  }

}

form {
  width: 80%;
  @media screen and (min-width: $phone) {
    width: 60%;
  }

  input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input, textarea {
    padding: .28125rem 0;
    line-height: 1.5;
    font-size: 1rem;
    border: 0;
    background-color: #1E242C;
    color: #eee;
  }

  label {
    font-size: 1.5rem;
  }
}