@media (max-width: 960px){
	.header-contact .fa {
		font-size: 32px;
	}
	.header-contact {
		right: 0;
	}
	.header-info {
		padding-left: 10px;
	}
}
@media (max-width: 800px) {
	.content .mdl-grid {
		padding: 10px 20px;
	}
	.header-contact {
		position: relative;
		width: 100%;
		margin-top: 20px;
		top: 0;
		right: 0;
	}
	.header-contact--inner {
		flex-wrap: nowrap;
	}
	.profile {
	    margin-right: 0;
	    top: 35px;
	    right: 60px;
	    width: 125px;
	}
}
@media (max-width: 600px) {
	.profile {
		width: 100px;
	}
	.mdl-typography--display-2 {
		font-size: 30px;
	}
	.mdl-typography--headline {
		font-size: 18px;
	}
	.mdl-typography--title {
		font-size: 14px;
	}
}
@media (max-width: 480px) {
	.container {
		padding: 0;
	}
	.header-contact {
		margin-top: 0;
	}
	.profile {
		right: 15px;
		top: 30px;
	}
	.header-info {
		padding-left: 0;
	}
	.content .mdl-grid {
		padding: 10px;
	}
	.cv small {
		display: block;
	}
}
@media(max-width: 360px) {
	.profile {
		width: 60px;
	}
	.mdl-typography--display-2 {
		margin: 0;
		font-size: 30px;
	}
	.mdl-typography--headline {
		margin: 0;
	}
}