.project-image {
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		max-width: 400px;
	}
}
.project-section h5 {
	text-align: center;
}
.project-section p {
	text-align: justify;
}
.project-page .mdl-grid {
	padding: 10px 40px;
}
.project-header a {
	margin: 0 10px;
}
